.App {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#Parent {
  width: 5760px;
  height: 1080px;
  position: relative;
}

.bg-image {
  width: 100%;
}

.airport-image {
  width: 28%;
  position: absolute;
  top: 24%;
  left: 16%;
}

.building-image {
  width: 3%;
  position: absolute;
  top: 56%;
  left: 54%;
}

.building2-image {
  width: 3%;
  position: absolute;
  top: 12%;
  left: 63%;
}

.building3-image {
  width: 6%;
  position: absolute;
  top: 43%;
  left: 46%;
}

.IREbuilding-image {
  position: absolute;
  width: 6%;
  top: 65%;
  left: 38%;
}

.TMTbuilding-image {
  width: 3.7%;
  position: absolute;
  top: 32%;
  left: 34%;
}

.CMhospital-image {
  width: 4%;
  position: absolute;
  top: 37%;
  left: 66%;
}

.CMmall-image {
  width: 13%;
  position: absolute;
  top: 47%;
  left: 57%;
}

.EDTech-image {
  width: 11%;
  position: absolute;
  top: 11%;
  left: 65.5%;
}

.ESGelectric-image {
  width: 6%;
  position: absolute;
  top: 29%;
  left: 73%;
}

.FSbank-image {
  width: 3%;
  position: absolute;
  top: 30%;
  left: 36.5%;
}

.SLBCcoal-image {
  width: 25%;
  position: absolute;
  top: 0%;
  left: 0%;
}

.IREdock-image {
  width: 18.4%;
  position: absolute;
  top: 46%;
  left: 0%;
}

.SLBCbuilding-image {
  width: 11%;
  position: absolute;
  top: 0%;
  left: 37%;
}

.SLRAgovernment-image {
  width: 6.5%;
  position: absolute;
  top: 9%;
  left: 49%;
}

.SLRAhole-image {
  width: 3%;
  position: absolute;
  top: 52%;
  left: 39%;
}

.IMAbuilding-image {
  width: 3%;
  position: absolute;
  top: 44%;
  left: 50.5%;
}

.TMTDrone-image {
  width: 2%;
  position: absolute;
  top: 44%;
  left: 61%;
}

.TMTMovieposter-image {
  width: 2%;
  position: absolute;
  top: 72%;
  left: 74.5%;
}

.TMTMovieposter-image2 {
  width: 2%;
  position: absolute;
  top: 72%;
  left: 93.5%;
}

.TMTStadium-image {
  width: 5.5%;
  position: absolute;
  top: 41%;
  left: 55%;
}

.Mobileqr-image {
  width: 2%;
  position: absolute;
  top: 33%;
  left: 28%;
}

.ESGtrees1 {
  width: 17%;
  position: absolute;
  top: 79%;
  left: 43%;
}

.ESGTree2 {
  width: 2%;
  position: absolute;
  top: 77%;
  left: 52%;
}

.ESGtree3 {
  width: 10%;
  position: absolute;
  top: 38%;
  left: 37%;
}

#backdrop {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.8);
}

.backdrop {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0);
}

.backdrop2 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0);
}

#primary {
  display: flex;
  flex-direction: column;
  margin: 15px;
  position: absolute;
  top: 3%;
  z-index: 1;
}

.primary-btn {
  width: 3vw;
  height: 11vh;
  border: none;
  background: transparent;
  margin-bottom: 1vh;
}

.primary-btnimage {
  width: 3.5vw;
  height: 5vh;
}

#service {
  display: flex;
  margin-right: 15px;
  position: absolute;
  z-index: 1;
  top: 91%;
  left: 0%;
}

.service-btn {
  width: 3vw;
  height: 5vh;
  border: none;
  background: transparent;
  margin-left: 1vw;
}

.service-btnimage {
  width: 3.5vw;
  height: 3vh;
}

.modalbtns {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 1;
}

.modalbtn {
  width: 2vw;
  height: 2vh;
  margin: 3px;
}

.hotspot {
  z-index: 0;
}

#video-container {
  width: 20vw;
  height: 60vh;
  overflow: scroll;
  overflow-y: scroll;
  position: absolute;
  z-index: 1;
  top: 10%;
  left: 40%;
}

.individualvideo {
  width: 100%;
  height: auto;
}

#text-container {
  width: 20vw;
  height: 60vh;
  overflow: scroll;
  overflow-y: scroll;
  position: absolute;
  z-index: 1;
  top: 10%;
  left: 40%;
  border: 1px solid red;
  background-color: white;
}
