.App {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#Parent {
  width: 5760px;
  height: 1080px;
  position: relative;
}

.bg-image {
  width: 100%;
}

.airport-image {
  width: 28%;
  position: absolute;
  top: 24%;
  left: 16%;
}

.building-image {
  width: 3%;
  position: absolute;
  top: 56%;
  left: 54%;
}

.building2-image {
  width: 3%;
  position: absolute;
  top: 12%;
  left: 63%;
}

.building3-image {
  width: 6%;
  position: absolute;
  top: 43%;
  left: 46%;
}

.IREbuilding-image {
  position: absolute;
  width: 6%;
  top: 65%;
  left: 38%;
}

.TMTbuilding-image {
  width: 3.7%;
  position: absolute;
  top: 32%;
  left: 34%;
}

.CMhospital-image {
  width: 4%;
  position: absolute;
  top: 37%;
  left: 66%;
}

.CMmall-image {
  width: 9%;
  position: absolute;
  top: 47%;
  left: 59%;
}

.EDTech-image {
  width: 11%;
  position: absolute;
  top: 11%;
  left: 65.5%;
}

.ESGelectric-image {
  width: 6%;
  position: absolute;
  top: 29%;
  left: 73%;
}

.FSbank-image {
  width: 3%;
  position: absolute;
  top: 30%;
  left: 36.5%;
}

.SLBCcoal-image {
  width: 25%;
  position: absolute;
  top: 0%;
  left: 0%;
}

.IREdock-image {
  width: 18.4%;
  position: absolute;
  top: 46%;
  left: 0%;
}

.SLBCbuilding-image {
  width: 11%;
  position: absolute;
  top: 0%;
  left: 37%;
}

.SLRAgovernment-image {
  width: 6.5%;
  position: absolute;
  top: 9%;
  left: 49%;
}

.SLRAhole-image {
  width: 3%;
  position: absolute;
  top: 52%;
  left: 39%;
}

.IMAbuilding-image {
  width: 3%;
  position: absolute;
  top: 44%;
  left: 50.5%;
}

.TMTDrone-image {
  width: 4%;
  position: absolute;
  top: 30%;
  left: 60%;
}

.TMTMovieposter-image {
  width: 2%;
  position: absolute;
  top: 72%;
  left: 74.5%;
}

.TMTMovieposter-image2 {
  width: 2%;
  position: absolute;
  top: 72%;
  left: 93.5%;
}

.TMTStadium-image {
  width: 5.5%;
  position: absolute;
  top: 41%;
  left: 55%;
}

.Mobileqr-image {
  width: 2%;
  position: absolute;
  top: 33%;
  left: 28%;
}

.ESGtrees1 {
  width: 17%;
  position: absolute;
  top: 79%;
  left: 43%;
}

.ESGTree2 {
  width: 2%;
  position: absolute;
  top: 77%;
  left: 52%;
}

.ESGtree3 {
  width: 10%;
  position: absolute;
  top: 38%;
  left: 37%;
}

.damwater {
  width: 8.4%;
  position: absolute;
  top: 0%;
  left: 84%;
}

.boat {
  width: 9%;
  position: absolute;
  top: 64%;
}

#backdrop {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.8);
}

.backdrop {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0);
}

.backdrop2 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0);
}

#primary {
  display: flex;
  flex-direction: column;
  margin: 15px;
  position: absolute;
  top: 2%;
  z-index: 1;
}

.primary-btn {
  width: 3vw;
  height: 11vh;
  border: none;
  background: transparent;
  margin-bottom: 1vh;
}

.primary-btnimage1 {
  width: 2.3vw;
}

.primary-btnimage2 {
  width: 2vw;
}

.primary-btnimage3 {
  width: 2.2vw;
}

.primary-btnimage4 {
  width: 2vw;
}

.primary-btnimage5 {
  width: 2vw;
  padding-top: 1vh;
}

.primary-btnimage6 {
  width: 3vw;
}

.primary-btnimage7 {
  width: 2.3vw;
}

#service {
  display: flex;
  margin-right: 10px;
  position: absolute;
  z-index: 1;
  top: 90%;
  left: 0%;
}

.service-btn {
  width: 3vw;
  height: 5vh;
  border: none;
  background: transparent;
  margin-left: 1vw;
  margin-right: 3vw;
}

/* .service-btnimage {
    width: 3.5vw;
    height: 3vh;
  } */

.modalbtns {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 1;
}

.modalbtn {
  /* width: 2vw;
    height: 2vh; */
  width: 100px;
  height: 40px;
  margin: 3px;
}

.hotspot {
  z-index: 0;
}

#video-container {
  width: 65vw;
  height: 61vh;
  overflow: scroll;
  position: absolute;
  z-index: 1;
  top: 15%;
  left: 18%;
}

.individualvideo {
  width: 100%;
  height: 20%;
}

#text-container {
  width: 65vw;
  height: 61vh;
  overflow: scroll;
  position: absolute;
  z-index: 1;
  top: 10%;
  left: 18%;
  background-color: white;
}

.h1content {
  font-family: "Times New Roman", Times, serif;
  margin: 100px;
}

#image-container {
  width: 65vw;
  height: 80%;
  overflow: hidden;
  position: absolute;
  z-index: 1;
  top: 10%;
  left: 18%;
}

.individualimage {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#pdf-container {
  width: 65vw;
  height: 61vh;
  overflow: scroll;
  position: absolute;
  z-index: 1;
  /* top: 10%;
    left: 18%; */
  border: 1px solid red;
}

#infocard-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1vh;
}

.swiper-buttons-container {
  z-index: 1;
}

.swiper-button-prev-unique {
  color: #5499c7;
  z-index: 1;
  font-size: 100px;
  position: absolute;
  top: 34%;
  left: 1%;
}

.swiper-button-next-unique {
  color: #5499c7;
  z-index: 1;
  font-size: 100px;
  position: absolute;
  top: 34%;
  left: 94%;
}

.slides {
  position: relative;
  width: 100%;
  height: 100%;
}
.slide {
  position: absolute;
  width: 100%;
  top: 0;
}
.slide.showing {
  display: block;
}

.F {
  top: 0;
  left: 50%;
  z-index: 1;
}

.E {
  width: 178px;
  height: 1080px;
  padding-top: 35vh;
}

.E button {
  margin-left: 0;
}

.Highlightbtn {
  border: none;
  background-color: blue;
  color: white;
  margin: 5px;
  width: 5vw;
  height: 4vh;
}

#Sectorlist {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 1;
}

#Servicelist {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 1;
}

#subpart {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 1;
}

.Highlightsubpart {
  border: none;
  background-color: blue;
  color: white;
  margin: 5px;
  width: 5vw;
  height: 4vh;
}
